<mat-card class="stats-card">
    <mat-card-header>
        <mat-card-title>Estatísticas do Encurtador</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="!loading && stats && !error" >
            <p><strong>Original: </strong> <a href="{{ stats.urlOrigem }}" target="_blank" rel="noopener noreferrer">{{ stats.urlOrigem }}</a></p>
            <p><strong>Encurtada: </strong> <a href="{{ stats.urlEncurtada }}" target="_blank" rel="noopener noreferrer">{{ stats.urlEncurtada }}</a></p>
            <p><strong>Total de acessos:</strong> {{ stats.totalAcessos }}</p>
            <p><strong>Criado em:</strong> {{ stats.criadoEm | date : 'dd/MM/yyyy HH:mm' }}</p>
            <p><strong>Último acesso:</strong> {{ stats.ultimoAcessoEm | date : 'dd/MM/yyyy HH:mm' }}</p>
        </div>
        <mat-spinner *ngIf="loading"></mat-spinner>
        <app-error *ngIf="error"></app-error>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="voltar()">
            <mat-icon>arrow_back</mat-icon> Voltar
        </button>
        <button mat-stroked-button color="accent" (click)="showQrCode()">
            <mat-icon>qr_code</mat-icon> QR Code
        </button>
    </mat-card-actions>
</mat-card>
<div id="recaptcha-container"></div>
