.hero {
  padding: 3rem 1rem;
  text-align: center;
  background: #121212;
  color: #fff;

  h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.1rem;
    color: #ccc;
  }
}

.grecaptcha-badge {
  visibility: hidden !important;
}
